auth:
  - user: USER
    group: users
    uid: 1000
    gid: 1000
    password: PASSWORD

global:
  - "force group = users"

share:
  - name: media
    path: /samba/media
    browsable: yes
    readonly: no
    guestok: no
    validusers: USER
    writelist: users
    veto: no
    hidefiles: /_*/
